@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos para a scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #144aad;
  border-radius: 5px;
}

/* Remover seta do datalist */
::-webkit-calendar-picker-indicator {
  display: none !important;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0.25rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}



/* Remover as setas do input tipo number */
/* ::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
